{% if user_mail.stat.exists %}
/var/mail/{{ main_user }} {
  su {{ main_user }} mail

  # Rotate if the size is >=10MB:
  size 10M

  # Keep 5 rotated logs:
  rotate 5

  # Do not rotate if empty:
  notifempty

  # Compresses rotated logs, default:
  compress
}
{% endif %}

/var/mail/root {
  su root mail

  # Rotate if the size is >=10MB:
  size 10M

  # Keep 5 rotated logs:
  rotate 5

  # Do not rotate if empty:
  notifempty

  # Compresses rotated logs, default:
  compress
}
