SPACESHIP_HOST_SHOW=false
SPACESHIP_EXIT_CODE_SHOW=true
COMPOSE_FILE=docker-compose.yaml

{% if ansible_os_family == "Darwin" %}
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
  autoload -Uz compinit
  compinit
fi
{% endif %}

# autojump ZSH completions
{% if ansible_os_family == 'Darwin' %}
[ -f "$(brew --prefix)/etc/profile.d/autojump.sh" ] && . "$(brew --prefix)/etc/profile.d/autojump.sh"
{% else %}
[ -f /usr/share/autojump/autojump.sh ] && . /usr/share/autojump/autojump.sh
{% endif %}

{% if ansible_os_family == 'Darwin' %}
# iTerm integration
[ -f "$HOME/.iterm2_shell_integration.zsh" ] && . "$HOME/.iterm2_shell_integration.zsh"
{% endif %}

# fzf integration
[ -f "$HOME/.fzf.zsh" ] && source "$HOME/.fzf.zsh"
{% if ansible_os_family == "Darwin" %}
source "$(brew --prefix)/opt/fzf/shell/key-bindings.zsh"
source "$(brew --prefix)/opt/fzf/shell/completion.zsh"
{% elif ansible_os_family == "Debian" %}
source /usr/share/doc/fzf/examples/key-bindings.zsh
source /usr/share/doc/fzf/examples/completion.zsh
{% endif %}

# Automatically update oh-my-zsh
zstyle ':omz:update' mode auto
