SPACESHIP_HOST_SHOW=false
SPACESHIP_EXIT_CODE_SHOW=true
COMPOSE_FILE=docker-compose.yaml

if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH

  autoload -Uz compinit
  compinit
fi

# autojump ZSH completions
[ -f /usr/local/etc/profile.d/autojump.sh ] && . /usr/local/etc/profile.d/autojump.sh

# iTerm integration
. "$HOME/.iterm2_shell_integration.zsh"

{% if has_starship_installed.stdout %}
eval "$(starship init zsh)"
{% endif %}
