[alias]
  a = add
  aa = add .
  amend = commit --amend --no-edit
  discard = checkout --
  discard-all = checkout -- *
  unstage = reset HEAD
  uncommit = reset --soft HEAD^
  uncommit-hard = reset --hard HEAD^ # also undo's changes to unstaged files
  co = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f" # checkout or create if non-existent
  ch = checkout
  lucky = !sh -c 'git checkout $(git which $1 -m1)' -
  get-current-branch = rev-parse --abbrev-ref HEAD
  update = push origin HEAD
  publish = !git push -u origin $(git get-current-branch)
  ft = "!f() { git checkout -b feature/\"$1\" 2> /dev/null || git checkout feature/\"$1\"; }; f"
  hf = "!f() { git checkout -b hotfix/\"$1\" 2> /dev/null || git checkout hotfix/\"$1\"; }; f"
  rel = "!f() { git checkout -b release/\"$1\" 2> /dev/null || git checkout release/\"$1\"; }; f"
  dep = "!f() { git checkout -b dependencies/\"$1\" 2> /dev/null || git checkout dependencies/\"$1\"; }; f"
  d = diff
  filemerge = difftool -t opendiff -y
  l = log
  s = status
  tags = tag -l
  branches = branch -a
  remotes = remote -v

[apply]
  whitespace = fix

[core]
  excludesfile = ~/.config/.gitignore
  attributesfile = ~/.gitattributes

  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  trustctime = false
  pager = diff-so-fancy | less --tabs=4 -RFX

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[diff]
  renames = copies

[help]
  autocorrect = 1

[merge]
  log = true

[push]
  default = current
