{% if ansible_os_family == "Darwin" %}
# Enable aliases to be sudo'd
alias sudo="sudo "

{% endif %}
# Programs
alias ls="eza"
alias lsa="ls -aF"
alias lf="lsa | fzf"
alias lsd="ls -lF | grep '^d'"
alias gcc="gcc-14"
{% if ansible_os_family == "Darwin" %}
alias rm="trash"
alias textedit="open -a TextEdit"
alias vsc="code"
{% endif %}
{% if ansible_os_family == "Debian" %}
alias apt="sudo apt"
alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'
{% endif %}

# Shortcuts
alias temp="cd $HOME/Downloads && mkd temp"
alias mime="file --mime-type"
alias reload="exec $SHELL -l"
alias path='echo -e ${PATH//:/\\n}'
alias youtube-mp3="youtube-dl --extract-audio --audio-format mp3 --audio-quality 0"
alias list_serial_ports="ls /dev/{tty,cu}.*"
alias grep="grep --color=auto"
alias dns="dig +noall +answer"
alias generate_password="openssl rand -base64 30"
{% if ansible_os_family == "Darwin" %}
alias here="open ."
alias d="cd $HOME/Desktop"
alias dl="cd $HOME/Downloads"
alias bundle_id="mdls -name kMDItemCFBundleIdentifier -r"
alias swap_usage="sudo fsusage | grep swapfile"
alias cpu_temp="sudo powermetrics --samplers smc | grep -i \"CPU die temperature\""
{% endif %}
alias octal="gstat -c \"%a %n\""
