{% if ansible_os_family == 'Debian' %}
# Folder aliases
export DOCKER_COMPOSE_DIR="{{ docker_compose_dir }}"
export SYSTEMD_DIR="/etc/systemd/system"

{% endif %}
{% if ansible_os_family == 'Darwin' %}
# Use brew command-not-found
HB_CNF_HANDLER="$brew_prefix/Library/Taps/homebrew/homebrew-command-not-found/handler.sh"
if [ -f "$HB_CNF_HANDLER" ]; then
  source "$HB_CNF_HANDLER";
fi

# Use brew sbin to path
export PATH="$brew_prefix/sbin:$PATH"

# Prefer GNU tools over BSD (default) tools
export PATH="$brew_prefix/opt/findutils/libexec/gnubin:$PATH"
export PATH="$brew_prefix/opt/coreutils/libexec/gnubin:$PATH"
export PATH="$brew_prefix/opt/make/libexec/gnubin:$PATH"
export PATH="$brew_prefix/opt/curl/bin:$PATH"
export PATH="$brew_prefix/opt/unzip/bin:$PATH"
export PATH="$brew_prefix/opt/gnu-tar/libexec/gnubin:$PATH"

export LDFLAGS="-L$brew_prefix/opt/curl/lib"
export CPPFLAGS="-I$brew_prefix/opt/curl/include"
export PKG_CONFIG_PATH="$brew_prefix/opt/curl/lib/pkgconfig"

{% endif %}
# Set default editor to neovim if available, otherwise nano
if command -v nvim > /dev/null; then
  export EDITOR=nvim
else
  export EDITOR=nano
fi

# Add ~/bin to the path for local CLI/binaries/scripts
export PATH="$HOME/bin:$PATH"
